
.bg-light{
    background: $light;
}

.titleh2{
    font-family: $arquitec;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: $darkGreen;
}
