.form-section{
    
    .subtitle{
        font-family: $OpenSan;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: $darkGreen;
    }
    .leyenda{
        font-family: $OpenSan;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $grey;
    }

    &.form-comercial{

        .col-image{
            height: 400px;
            @include media-breakpoint-up(lg){
                height: 780px;
            }
            .conten{
                height: 100%;
                .image-left{
                    height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }
        }
        

        .form-comercial-content{
            max-width: 640px;
            padding-top: 2rem;
            margin: 0 auto;
            max-height: max-content;
            @include media-breakpoint-up(lg){
                margin-left: 2vw;
                padding-top: 4.7rem;
            }
            @media screen and(min-width: 1440px) {
                margin-left: 5vw;
            }
            .subtitle{
                font-family: $OpenSan;
                font-style: normal;
                font-weight: normal;
                font-size: 18px !important;
                line-height: 25px !important;
                text-transform: initial !important;
                color: $grey;
            }
        }
    }
}
.custom-form{
    label{
        text-transform: uppercase;
        font-family: $OpenSan;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: $darkGreen;
        margin-bottom: .8rem !important;
    }

    .form-control, .custom-select{
        height: 48px !important;
        font-family: $OpenSan;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        border-color: $darkGreen !important;
    }

}

.btn.btn-third{
    background: linear-gradient(90deg, #AD830E 0%, #ECB51C 100%);
    color: $white;
    font-family: $arquitec;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-radius: 0 !important;
    padding: 1rem 1.8rem;
    margin-top: 1rem;
    transition: ease .3s;
    &:hover{
        transition: ease .3s;
        box-shadow: 2px 4px 30px 5px rgba(0, 0, 0, 0.239);
        -webkit-box-shadow: 2px 4px 30px 5px rgba(0,0,0,0.239);
        -moz-box-shadow: 2px 4px 30px 5px rgba(0,0,0,0.239);
    }
}