.form-section{
    
    .subtitle{
        font-family: $OpenSan;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: $darkGreen;
    }
    .leyenda{
        font-family: $OpenSan;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $grey;
    }
}
.custom-form{
    label{
        text-transform: uppercase;
        font-family: $OpenSan;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: $darkGreen;
        margin-bottom: .8rem !important;
    }

    .form-control, .custom-select{
        height: 48px !important;
        font-family: $OpenSan;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        border-color: $darkGreen !important;
    }

    
}

.btn.btn-third{
    background: linear-gradient(90deg, #AD830E 0%, #ECB51C 100%);
    color: $white;
    font-family: $arquitec;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-radius: 0 !important;
    padding: 1rem 1.8rem;
    margin-top: 1rem;
}