.hero-slider{
    position: relative;
    height: 100vh;
    @include media-breakpoint-up(md){
        height: 100vh;
    }
    @include media-breakpoint-up(lg){
        height: 730px;
    }
    @include media-breakpoint-up(xl){
        height: 760px;
    }
    .swiper-slide{
        height:100%;
        min-width: 100%;
        border: 0;
        padding: 0 !important;
        position: relative;
        z-index: 2;
        .card{
            height:100%;
            min-width: 100%;
            padding: 0 !important;
            border: 0 !important;
            border-radius: 0 !important;
            .row{
                max-height: 100%;
                max-width: 100%;
                .col-12{
                    @include media-breakpoint-up(lg){
                        height: 100%;
                    }
                }
            }
            .col-left{
                height: 100%;
                background: {
                    size: cover;
                    repeat: no-repeat;
                    position: center;
                };
                display: flex;
                align-items: flex-start;
                padding: 2rem 3rem;
                height: 420px;
                @include media-breakpoint-up(md){
                    height: calc(100vh - 440px);
                }
                @include media-breakpoint-up(lg){
                    height: 100%;
                }
                .content{
                    max-width: 468px;
                    margin: 0 auto;
                    .logo{
                        width: 60%;
                        @include media-breakpoint-down(sm){
                            margin-bottom: 1rem !important;
                        }
                    }
                    .title{
                        font-weight: bold;
                        color: $golden;
                        text-transform: uppercase;
                        font-size: 34px;
                        line-height: 38.71px;
                        @include media-breakpoint-up(md){
                            font-size: 48px;
                            line-height: 53.71px;
                        }
                    }

                    .btn.btn-outline{
                        font-family:$arquitec;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        color: $white;
                        border: 1px solid $white;
                        padding: 1rem 1.5rem;
                    }
                }
            }

            .col-right{
                height: 220px;
                @include media-breakpoint-up(md){
                    height: 440px;
                }
                @include media-breakpoint-up(lg){
                    height: 100%;
                }
                .image-cover{
                    height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }            
        }

        .category{
            color: $white;
            z-index: 5;
            font-family: $OpenSan;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            p{
                margin-bottom: 0;
            }
        }
    }


    .content-navigation{
        position: absolute;
        right: 0;
        bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        z-index: 2;
        background-color: $darkGreen;
        width: 100%;
        height: 70px;
        @include media-breakpoint-up(md){
            width: 75%;
            height: 97px;
            padding-left: 1rem;
            padding-right: 5rem;
        }
        @include media-breakpoint-up(lg){
            width: 40%;
            height: 97px;
            padding-left: 1rem;
            padding-right: 5rem;
        }
        .navigation{
            position: relative;
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;

            .pagination{
                width: 100px;
                position: relative;
                display: block;
                .swiper-pagination{
                    &.swiper-pagination-fraction{
                        color: $white;
                        font-family: $OpenSan;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        position: relative;
                        margin-bottom: -1rem;
                        @include media-breakpoint-up(md){
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                    .swiper-pagination-current{
                        font-family: $OpenSan;
                        font-style: normal;
                        font-weight: bold;
                        color: $golden;
                        font-size: 25px;
                        line-height: 34px;
                        @include media-breakpoint-up(md){
                            font-size: 36px;
                            line-height: 49px;
                        }
                    }
                }
            }

            .content-arrow{
                display: block;
                width: 110px;
                position: relative;
                height: 100%;
                margin-bottom: -1rem;
                @include media-breakpoint-up(md){
                    width: 140px;
                    margin-bottom: 0;
                }

                .swiper-button-next, .swiper-button-prev {
                    width: 35px;
                    height: 35px;
                    @include media-breakpoint-up(md){
                        width: 45px;
                        height: 45px;
                    }
                    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
                    border: 1px solid $white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: $white;
                        &:after{
                            color: $darkGreen;
                        }
                        
                    }
                }
                .swiper-button-next:after, .swiper-button-prev:after {
                    font-family: swiper-icons;
                    font-size: 15px;
                    color: $white;
                    
                }
                .swiper-button-next::after{
                    margin-right: -3px;
                }
                .swiper-button-prev::after{
                    margin-left: -3px;
                }
            }
        }
    }
    
}