#section-project{
    background-size: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;

    @include media-breakpoint-up(lg){
        background-size: 45%;
    }
    .text-project{
        font-family: $OpenSan;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        @include media-breakpoint-up(md){
            max-width: 70%;
            margin: 0 auto;
        }
    }
    .card-beneficios-list{
        background-color: $white;
        text-align: center;
        padding: 1.5rem;
        border-radius: 0;
        border: 0;
        box-shadow: 22px 44px 122px rgba(9, 56, 67, 0.15);
        .card-img-top{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin: 0 auto;
        }
        .card-body{
            padding: 0 !important;
            .card-title{
                margin-top: 1.4rem;
                font-family: $OpenSan;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
            }
            .card-text{
                font-family: $OpenSan;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 0;
            }
        }

    }

    .card-destacados{
        background-color: $white;
        border-radius: 0;
        border: 0;
        box-shadow: 22px 44px 122px rgba(9, 56, 67, 0.15);
        .card-image-top{
            border-radius: 0;
            border: 0;
            height: 229px;
            min-width: 100%;
            object-fit: cover;
        }
        .card-body{
            .card-title{
                font-family: $arquitec;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 25px;
                text-transform: uppercase;
                color: $darkGreen;
            }
        }
    }
}

section{
    max-width: 100%;
}