#ubicacion{
    .text-content{
        p{
            font-family: $OpenSan;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
        }
    }
}